doctype html
html(lang="en")
    head
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400")
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title oh yeah
        style 
            include ../static/style.css
    body
        nav#navBar.navigation
            a(href="Home") Home
            a(href="About")  About
            a(href="Services") Services 
            a(href="Class Info") Class Info
            a(href="Contact Us") Contact Us
        section.intro 
            h1#top &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Welcome To <br> SomeName Dance Academy 
            h1#bottom Eat, Sleep, Dance & repeat
        section.mission
            h2#mission Our Mission
            div.container.containerr#con1(onmouseenter="start(this)" onmouseleave="end(this)")
                div.inner
                    h3#heading Professional Dance
                h8 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur culpa hic esse quia similique unde consequuntur veniam placeat minus velit? Akash is the only one who can change
            div.container#con2(onmouseenter="start(this)" onmouseleave="end(this)")
                div.inner
                    h3#heading Professional Trainers
                h8 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur culpa hic esse quia similique unde consequuntur veniam placeat minus velit? Akash is the only one who can change
            div.container#con3(onmouseenter="start(this)" onmouseleave="end(this)")
                div.inner
                    h3#heading Professional
                h8 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur culpa hic esse quia similique unde consequuntur veniam placeat minus velit? Akash is the only one who can change
            div.container#con4(onmouseenter="start(this)" onmouseleave="end(this)")
                div.inner
                    h3#heading Professional Rooms
                h8 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur culpa hic esse quia similique unde consequuntur veniam placeat minus velit? Akash is the only one who can change
        section.sponsor 
            h1.sponsorhead Our Sponsors
            img#sponimg(src="static/logo.jpeg", alt="#")
        section.para 
            p#para Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium officia, nemo eum animi autem sed sequi voluptate necessitatibus vero, nobis ducimus fugiat, suscipit explicabo provident ad. Repudiandae quia consequuntur sit iste odit quaerat, consequatur, soluta delectus id iure fuga, impedit ipsum! Quam laborum, temporibus voluptatum laudantium quisquam veritatis. Ducimus, incidunt. Magni, dicta recusandae! Neque reprehenderit cupiditate vel. Dolore provident ut quos odio minus incidunt dolores, explicabo accusamus. Facere sequi quos corporis. Quod natus asperiores necessitatibus vero iusto. Eveniet perferendis possimus voluptatem ducimus explicabo? Possimus ipsum optio aliquid expedita odit harum molestiae atque veniam. At facere ea, repellendus accusamus, dicta reiciendis veniam eveniet inventore perferendis nostrum iusto a recusandae sed aliquam odio enim voluptatibus cum. Saepe cum nemo aspernatur asperiores inventore, repellat ipsa aperiam aut culpa in sunt possimus, ab natus quidem animi laborum. Quis non rerum ipsam facilis, odio eius repellat odit nobis consequuntur possimus amet commodi sed nostrum dolores atque sunt maiores, blanditiis perferendis unde officia in debitis hic! Repellendus iure sint est doloremque exercitationem quisquam minus accusamus quod. Adipisci quaerat aliquam optio, quas, possimus exercitationem magni soluta libero dolore reprehenderit iusto, officia animi incidunt saepe quisquam est ratione velit quasi. Fugiat rem ab sed ratione doloremque dolore quia, deserunt eligendi iure quisquam accusantium assumenda molestiae recusandae cupiditate soluta. Ullam, minus! Aperiam aliquam, itaque, commodi accusantium excepturi atque voluptatibus, doloremque esse nam ipsam pariatur molestiae cum at blanditiis vel sequi sunt voluptates saepe consequatur. Quo, corrupti! Impedit assumenda modi ipsam hic ab nostrum voluptatibus voluptas, facere iusto perferendis maiores provident perspiciatis optio ex incidunt quasi, fuga dolor! Aperiam doloribus consequatur ad ipsa, laborum fuga laudantium. Quae accusamus minus corrupti rerum fugit dolore illum, iste inventore laudantium iusto, sapiente reiciendis exercitationem est? Optio quis fugiat eum vitae provident nobis minima blanditiis quod, dolor mollitia corporis, voluptatem assumenda iste voluptatum itaque sunt distinctio deserunt? Tempora, vel reprehenderit nesciunt, totam at vitae blanditiis minus facilis autem distinctio fuga optio libero quae earum alias deserunt voluptatem accusantium, eaque consequuntur! Ut voluptate molestias adipisci illo quam in, quia quos quisquam sed reprehenderit nemo pariatur veniam qui temporibus architecto dolorum minima doloremque nisi maxime animi facilis cumque inventore reiciendis! Cupiditate consequatur temporibus consequuntur suscipit eaque doloremque ex sed, libero recusandae optio facere architecto illum sapiente voluptas quaerat corrupti quod nam enim molestiae impedit consectetur minima dolore. Impedit enim saepe, ut provident facilis facere soluta accusamus debitis placeat, beatae adipisci. Dolor placeat nisi excepturi cumque facilis! Aspernatur nisi esse error eligendi, qui voluptates minima ipsum! Aperiam ipsam possimus laboriosam dignissimos architecto? Quis, corrupti. Dolore nobis beatae sed quisquam perspiciatis omnis? Consequuntur id, labore hic doloribus eaque nihil repellendus quas? Modi, quam. Saepe possimus error vero aliquid nulla quo illum corrupti eius expedita perspiciatis, eum delectus reprehenderit, in commodi rerum? Ex consectetur nam natus aut nisi ad, minus iste eius rerum maxime temporibus amet ullam quibusdam assumenda sunt quos animi? Ad provident libero aliquid expedita assumenda obcaecati esse quidem sapiente fuga recusandae delectus veritatis error in, aliquam reprehenderit non fugit minima exercitationem consectetur ut officia nulla neque.
        footer.foot 
            | footer here
        script 
            include ../static/index.js
        





