/* This file is for styling the payment form made in third(payment form).html file*/

* {
    box-sizing: border-box;
}
body{
    margin: 10px 15px;
    padding: 8px;
}

.container{
    border:3px solid #f1efef;
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border-radius: 8px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
select,textarea{
    width:  100%;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 4px;
    margin: 8px;
}

fieldset{
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.main_heading{
    text-align: center;
}

input[type="submit"]{
    background-color: rgb(17, 176, 158);
    font-size:13px;
    color: black;
    padding: 10px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover{
    background-color: rgb(232, 142, 142);
}


